.user-list-item {
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;

    width: 100%;
    padding: 8px 12px;

    cursor: pointer;
    transition: background-color 120ms ease;

    &:hover {
        background-color: #d7dce285;
    }
}

.user-list-item-avatar {
    width: 50px;
    height: 50px;
    flex: 0 0 50px;

    border-radius: 50%;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f3f4f6;

    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    }
}

.user-list-item-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    min-width: 0;
}

.user-list-item-name {
    font-size: 14px;
    line-height: 1.2;
    color: #111827;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-list-item-email {
    font-size: 12px;
    line-height: 1.2;
    color: #6b7280;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
