.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease-in-out;
    z-index: 5000;

    .modal-buttons-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.modal-overlay--open {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    background: #fff;
    border-radius: 12px;
    padding: 24px;
    min-width: 300px;
    max-width: 90vw;
    transform: scale(0.1);
    opacity: 0;
    transition:
    opacity 0.25s ease-out,
    transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
    position: relative;
}

.modal-content--open {
    transform: scale(1);
    opacity: 1;
}
