.header {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 95px;
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 3px 4px -4px rgba(0, 0, 0, 0.2);

    .header-title {
        display: flex;
        flex-direction: row;
        gap: 12px;
        align-items: center;
    }

    .header-right-content {
        display: flex;
        flex-direction: row;
        gap: 50px;

        .header-list-buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
        }
    }

}