.home {
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eaeaedd4;

    .home-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        .home-upload-tasks-container {
            width: 42%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding-inline: 35px;

            .home-buttons-navigation {
                width: 100%;
                padding-inline: 10px;
                height: min-content;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .home-buttons-navigation-2 {
                width: 50%;
            }
        }

        .home-upload-tasks-container--expanded {
            width: 100%;
        }

        .home-preview-file-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-inline: 35px;
            width: 58%;
            height: 100%;
            background: linear-gradient(203deg, #FF8040 0%, #FE432F 100%);

            transition:
                width 450ms ease,
                padding 450ms ease;

            overflow: hidden;

            .home-preview-tasks {
                width: 450;
                height: 95%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;
                padding-inline: 20px;
                overflow-y: auto;
            }

            .home-preview-tasks::-webkit-scrollbar {
                display: none;
            }
        }

        .home-preview-file-content--colapsed {
            width: 0;
            padding: 0;
        }
    }
}
