.splash-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(203deg, #FF8040 0%, #FE432F 100%);
}