.task-card-container {
    width: 100%;
    height: min-content;
    padding: 16px 14px;
    background-color: #fafcff;
    border-radius: 8px;
    box-shadow: 
    0px 1px 2px 0px rgba(0, 0, 0, 0.30), 
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 14px;

    .term-measure-container {
        width: 100%;
        height: min-content;

        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;

        .measure-button {
            height: min-content;
            padding: 10px 20px;
        }
    }
}

.task-card-container:last-child {
    margin-bottom: 20px;
}