.login-form {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .login-form-inputs-container {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .login-form-button {
            width: 100%;
            margin-top: 14px;
            margin-bottom: 14px;
        }

        .login-form-forgot-password {
            width: 100%;
            text-decoration: underline;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }

    }


}