.label-with-arrow {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    
    .arrow {
        transition: transform 0.5s ease;
        width: 18px;
        height: 18px;
        transform: rotate(180deg);
    }

    .arrow-down {
        transform: rotate(0deg);
    }
}
