.td {
    padding: 12px 14px;
    border-bottom: 1px solid #efeff3;

    font-size: 14px;
    color: #2b2b2f;
    vertical-align: middle;
}

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
