.steps-container {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    transition: max-height 1s ease;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
}

.steps-container-colapsed {
    max-height: 0;
    overflow: hidden;
}
