.container-progress-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center;

    .progress-bar {
        width: calc(100% - 50px);
        border-radius: 999px;
    
        &--task {
            height: 20px;
        }
    
        &--step {
            height: 12px;
        }
    
        .progress-bar-fill {
            height: 100%;
            border-radius: 999px;
            transition: width 0.4s ease-in-out;
        }
    }
}
