.toggle {
    width: 44px;
    height: 24px;
    border: 0;
    border-radius: 999px;
    padding: 0;
    cursor: pointer;

    background: #d1d5db; /* cinza */
    position: relative;
    transition: background-color 160ms ease;

    display: inline-flex;
    align-items: center;
}

.toggle-thumb {
    width: 20px;
    height: 20px;
    border-radius: 999px;
    background: #ffffff;
    position: absolute;
    left: 2px;
    transition: transform 160ms ease;

    display: grid;
    place-items: center;
}

.toggle-check {
    font-size: 14px;
    line-height: 1;
    color: #ffffff;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 120ms ease, transform 120ms ease;
}

/* ON */
.toggle-checked {
  background: #5ac18e; /* verde do track */
}

.toggle-checked .toggle-thumb {
    transform: translateX(20px);
    background: #2f67ff; /* azul do círculo com check */
}

.toggle-checked .toggle-check {
    opacity: 1;
    transform: scale(1);
}

/* Disabled */
.toggle-disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
