.step {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    // TODO - Ajustar de acordo com o figma
    gap: 4px;

    // TODO - Validar o percentual de opacidade quando não houver correspondência com o mês filtrado
    &--out-of-month {
        opacity: 0.5;
    }

    .step-title {
        width: calc(100% - 20px);
    }
}