.select {
    // TODO - Melhorar o posicionamento da seta do select
    width: fit-content;
    font-weight: 500px;
    border-radius: 0.5rem;
    border: 1px solid;
    transition: all 0.3s ease;
    outline: none;
    cursor: pointer;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
    
}

.select--primary {
    appearance: auto;
}

.select--secondary {
    border: 1px solid;
}

.select--text {
    appearance: none;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;

    &::-ms-expand {
        display: none;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.select--sm {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
}

.select--md {
    font-size: 0.875rem;
    padding: 6px 10px;
}

.select--lg {
    font-size: 1.125rem;
    padding: 0.75rem 1.25rem;
}
